@import "tailwindcss";
@import "tw-animate-css";

@theme default {
  --color-primary: #b6d162;
  --color-text: #ffffff;
  --color-textSecondary: #acacb0;
  --color-background: #0c0c12;
  --color-backgroundSecondary: #11131a;
  --color-backgroundTertiary: #161922;
  --color-backgroundQuaternary: #232835;
  --color-b: #232835;
  --color-red: #fd4a4a;
  --color-green: #29cc88;
  --color-purple: #a866dd;
  --color-yellow: #f1ce29;
  --color-ai: #38bdf8;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-poppins), system-ui, sans-serif;
  font-weight: 500;
  outline: none;
}

.hover-effect {
  @apply transition-all duration-300 ease-in-out;
}

.double-inner-shadow-dock {
  border: none;
  box-shadow:
    inset 1px 1px 3px 1px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px 0px rgba(255, 255, 255, 0.15);
}

.inner-white {
  border: none;
  box-shadow:
    inset 1px 1px 2px 0 rgba(255, 255, 255, 0.2),
    inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
}

.inner-purple {
  border: none;
  box-shadow:
    inset 1px 1px 2px 0 #a866dd35,
    inset -1px -1px 1px 0 #a866dd15;
}

.inner-primary {
  border: none;
  box-shadow:
    inset 1px 1px 3px 1px #b6d16240,
    inset -1px -1px 2px 1px #b6d16215;
}

.inner-ai {
  border: none;
  box-shadow:
    inset 1px 1px 3px 1px #38bdf840,
    inset -1px -1px 2px 1px #38bdf815;
}

.inner-red {
  border: none;
  box-shadow:
    inset 1px 1px 3px 1px #fd4a4a40,
    inset -1px -1px 2px 1px #fd4a4a15;
}

@layer utilities {
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.05) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
    transition: background-color 0.3s ease-in-out;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

/* For Text.tsx file */

:root {
  --primary-foreground: oklch(37.1% 0 0);
  --primary-muted: oklch(0.556 0 0);
}

.dark {
  --primary-foreground: oklch(0.97 0 0);
  --primary-muted: oklch(0.708 0 0);
}

@theme inline {
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-muted: var(--primary-muted);

  --animate-text-shake: text-shake 1s ease 1;

  @keyframes text-shake {
    15% {
      transform: translateX(5px);
    }

    30% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(3px);
    }

    80% {
      transform: translateX(2px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
}
